%{deps, [{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
%        {eper, ".*", {git, "git://github.com/massemanet/eper.git", "master"}}]}.
{erl_opts, [warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
            warn_untyped_record, debug_info]}.
{xref_warnings, true}.
{xref_checks, [undefined_function_calls, undefined_functions, locals_not_used, deprecated_function_calls, deprecated_functions]}.
{pre_hooks, [{compile, "mkdir -p bin"}]}.
{post_hooks, [{clean, "rm -rf bin priv/fetjaba.jar"},
              {compile, "javac -g -verbose -deprecation -sourcepath java_src -classpath ./bin:/usr/local/lib/erlang/lib/jinterface-1.5.8/priv/OtpErlang.jar:./priv/* -d bin `find java_src -name *.java`"},
              {compile, "jar cf priv/fetjaba.jar -C bin ."}]}.